.aside-left
{
    &__links
    {
        margin-left: 2.2rem;
        font-size: 1.5rem;

        li
        {
            padding: 1rem 0.8rem;
            margin-bottom: 0.5rem;

            &:hover a
            {
                color: var(--color-aside-left-links-hover);
            }

            &:hover
            {
                background-color: var(--color-aside-left-links-hover-li);
                border-radius: 0.2rem;
            }
        }

        a
        {
            color: var(--color-aside-left-links);
        }
    }

    &__active,
    &__active a
    {
        background-color: var(--color-aside-left-links-hover-li);
        border-radius: 0.2rem;
        color: var(--color-aside-left-links-hover);
    }
}

.aside-right
{
    display: flex;
    align-items: center;
    flex-direction: column;

    &__links
    {
        display: flex;
        flex-direction: column;
        text-align: left;

        li
        {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            cursor: pointer;
            color: var(--color-aside-right-links);

            &:hover
            {
                color: var(--color-aside-right-links-hover);
            }
        }
    }

    &__active
    {
        color: var(--color-aside-right-links-active) !important;
    }
}
