*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after
{
    transition: all 0.5s !important;
    transition-delay: 0s !important;
}

body
{
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    background-color: var(--color-body-background);
}

a,
a:visited
{
    text-decoration: none;
}

li
{
    list-style: none;
}

.container
{
    height: 100vh;
    display: grid;
    grid-template-columns: [container-start] 24rem [center-start] repeat(10, [col-start] minmax(min-content, 16.66667rem) [col-end])[center-end] 15vw [container-end];
    grid-template-rows: min-content 1fr 1fr 1fr min-content;
}
