.heading
{
    color: var(--color-heading);

    &--primary
    {
        font-size: 3rem;
    }

    &--secondary
    {
        font-size: 1.8rem;
    }
}

.paragraph
{
    font-size: 1.6rem;
    color: var(--color-paragraph);
}

.text-primary
{
    color: var(--color-text) !important;
    font-weight: font-weight(font-weight-medium);
}
